Build started...
Build succeeded.
CREATE TABLE IF NOT EXISTS "__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL,
    CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId")
);

START TRANSACTION;

CREATE TABLE chat_sessions (
    "Id" uuid NOT NULL,
    "UserId" uuid NOT NULL,
    "Title" text,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone NOT NULL,
    CONSTRAINT "PK_chat_sessions" PRIMARY KEY ("Id")
);

CREATE TABLE "Gardens" (
    "Id" uuid NOT NULL,
    "UserId" uuid NOT NULL,
    CONSTRAINT "PK_Gardens" PRIMARY KEY ("Id")
);

CREATE TABLE roles (
    id uuid NOT NULL,
    name text NOT NULL,
    description text,
    created_at timestamp with time zone NOT NULL,
    created_by uuid,
    updated_at timestamp with time zone NOT NULL,
    updated_by uuid,
    deleted_at timestamp with time zone,
    deleted_by uuid,
    CONSTRAINT "PK_roles" PRIMARY KEY (id)
);

CREATE TABLE "ShopItems" (
    id uuid NOT NULL,
    name text NOT NULL,
    description text NOT NULL,
    price integer NOT NULL,
    type text NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    CONSTRAINT "PK_ShopItems" PRIMARY KEY (id)
);

CREATE TABLE streak_history (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    date timestamp with time zone NOT NULL,
    action text NOT NULL,
    streak_value integer NOT NULL,
    balance_after integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    CONSTRAINT "PK_streak_history" PRIMARY KEY (id)
);

CREATE TABLE users (
    id uuid NOT NULL,
    email text NOT NULL,
    password_hash text,
    first_name text,
    last_name text,
    avatar text,
    streak_count integer NOT NULL,
    streak_active boolean NOT NULL,
    last_activity_date timestamp with time zone,
    coins_balance integer NOT NULL,
    is_premium boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    created_by uuid,
    updated_at timestamp with time zone NOT NULL,
    updated_by uuid,
    deleted_at timestamp with time zone,
    deleted_by uuid,
    "Provider" text NOT NULL,
    "ProviderUserId" text,
    CONSTRAINT "PK_users" PRIMARY KEY (id)
);

CREATE TABLE chat_messages (
    "Id" uuid NOT NULL,
    "SessionId" uuid NOT NULL,
    "Sender" text NOT NULL,
    "Content" text NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    CONSTRAINT "PK_chat_messages" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_chat_messages_chat_sessions_SessionId" FOREIGN KEY ("SessionId") REFERENCES chat_sessions ("Id") ON DELETE CASCADE
);

CREATE TABLE "GardenBeds" (
    "Id" uuid NOT NULL,
    "GardenId" uuid NOT NULL,
    "TreeState" text NOT NULL,
    "PlantedAt" timestamp with time zone,
    "X" integer NOT NULL,
    "Y" integer NOT NULL,
    CONSTRAINT "PK_GardenBeds" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_GardenBeds_Gardens_GardenId" FOREIGN KEY ("GardenId") REFERENCES "Gardens" ("Id") ON DELETE CASCADE
);

CREATE TABLE coin_transaction (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    amount integer NOT NULL,
    reason text NOT NULL,
    type text NOT NULL,
    balance_after integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    CONSTRAINT "PK_coin_transaction" PRIMARY KEY (id),
    CONSTRAINT "FK_coin_transaction_users_user_id" FOREIGN KEY (user_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE TABLE journal_entries (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    title text,
    content text NOT NULL,
    mood_score integer,
    emotions text,
    is_summary boolean NOT NULL,
    entry_date timestamp with time zone NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    is_deleted boolean NOT NULL,
    archived_at timestamp with time zone,
    CONSTRAINT "PK_journal_entries" PRIMARY KEY (id),
    CONSTRAINT "FK_journal_entries_users_user_id" FOREIGN KEY (user_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE TABLE password_reset_tokens (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    token_hash character varying(64) NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    used_at timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    CONSTRAINT "PK_password_reset_tokens" PRIMARY KEY (id),
    CONSTRAINT "FK_password_reset_tokens_users_user_id" FOREIGN KEY (user_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE TABLE personality_profiles (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    personality_type text NOT NULL,
    traits text,
    created_at timestamp with time zone NOT NULL,
    created_by uuid,
    updated_at timestamp with time zone NOT NULL,
    updated_by uuid,
    deleted_at timestamp with time zone,
    deleted_by uuid,
    CONSTRAINT "PK_personality_profiles" PRIMARY KEY (id),
    CONSTRAINT "FK_personality_profiles_users_user_id" FOREIGN KEY (user_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE TABLE planner_tasks (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    title text NOT NULL,
    description text,
    task_date timestamp with time zone NOT NULL,
    has_time boolean NOT NULL,
    reminder_time timestamp with time zone,
    icon text,
    category text,
    priority integer NOT NULL,
    recurrence integer NOT NULL,
    is_completed boolean NOT NULL,
    completed_at timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    is_deleted boolean NOT NULL,
    archived_at timestamp with time zone,
    CONSTRAINT "PK_planner_tasks" PRIMARY KEY (id),
    CONSTRAINT "FK_planner_tasks_users_user_id" FOREIGN KEY (user_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE TABLE user_item (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    shop_item_id uuid NOT NULL,
    purchased_at timestamp with time zone NOT NULL,
    is_active boolean NOT NULL,
    CONSTRAINT "PK_user_item" PRIMARY KEY (id),
    CONSTRAINT "FK_user_item_ShopItems_shop_item_id" FOREIGN KEY (shop_item_id) REFERENCES "ShopItems" (id) ON DELETE CASCADE,
    CONSTRAINT "FK_user_item_users_user_id" FOREIGN KEY (user_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE TABLE user_roles (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    role_id uuid NOT NULL,
    created_at timestamp with time zone NOT NULL,
    created_by uuid,
    updated_at timestamp with time zone NOT NULL,
    updated_by uuid,
    deleted_at timestamp with time zone,
    deleted_by uuid,
    CONSTRAINT "PK_user_roles" PRIMARY KEY (id),
    CONSTRAINT "FK_user_roles_roles_role_id" FOREIGN KEY (role_id) REFERENCES roles (id) ON DELETE CASCADE,
    CONSTRAINT "FK_user_roles_users_user_id" FOREIGN KEY (user_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE INDEX "IX_chat_messages_SessionId" ON chat_messages ("SessionId");

CREATE INDEX "IX_coin_transaction_user_id" ON coin_transaction (user_id);

CREATE UNIQUE INDEX "IX_GardenBeds_GardenId_X_Y" ON "GardenBeds" ("GardenId", "X", "Y");

CREATE INDEX "IX_journal_entries_user_id" ON journal_entries (user_id);

CREATE UNIQUE INDEX "IX_password_reset_tokens_token_hash" ON password_reset_tokens (token_hash);

CREATE INDEX "IX_password_reset_tokens_user_id" ON password_reset_tokens (user_id);

CREATE UNIQUE INDEX "IX_personality_profiles_user_id" ON personality_profiles (user_id);

CREATE INDEX "IX_planner_tasks_task_date" ON planner_tasks (task_date);

CREATE INDEX "IX_planner_tasks_user_id" ON planner_tasks (user_id);

CREATE UNIQUE INDEX "IX_roles_name" ON roles (name);

CREATE INDEX "IX_streak_history_user_id" ON streak_history (user_id);

CREATE INDEX "IX_user_item_shop_item_id" ON user_item (shop_item_id);

CREATE UNIQUE INDEX "IX_user_item_user_id_shop_item_id" ON user_item (user_id, shop_item_id);

CREATE INDEX "IX_user_roles_role_id" ON user_roles (role_id);

CREATE UNIQUE INDEX "IX_user_roles_user_id_role_id" ON user_roles (user_id, role_id);

CREATE UNIQUE INDEX "IX_users_email" ON users (email);

CREATE UNIQUE INDEX "IX_users_Provider_ProviderUserId" ON users ("Provider", "ProviderUserId");

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20260428130255_InitialClean', '8.0.11');

COMMIT;

START TRANSACTION;

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20260505172722_Main', '8.0.11');

COMMIT;

START TRANSACTION;

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20260505173258_InitialCreate', '8.0.11');

COMMIT;


